.menu{
    padding:20px;
    font-color:white;
    font-size:20px;
}
#main{
    background-color:#483d8b;
    padding:12px;
    color:white;
    text-align:center;
    margin:0;
}
.images{ 
    width:350px;
    height:300px;
    margin-right:auto;
    margin-left:auto;
    padding:10px;
}
.caption{
    margin-bottom: 25px;
    background-color: white;
    font-size:24px;
    padding:10px;
    text-align: center;
}
.menu
a{
    color:white;
}